.env
/data/
/results/
/.venv/
/src/wet_snow_tracker/temp.ipynb
/src/wet_snow_tracker/__pycache__/*pyc
/src/wetting_front_tracker/__pycache__/*pyc
/wetting_front_stall_analasys/
*.pyc
__pycache__/
src/wet_snow_tracker.egg-info/
/.coverage
/.DS_Store
/.vscode/
*.log
*egg*